---
layout: default
title: VR/AR Developer
---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
<center>
<img src="/assets/images/logo.png" height="128px" width="128px" alt="Evereal">
<br><br>
<h1 style="color:white">Hi, I am <span>Evereal.</span></h1>
<br>
<h3>VR/AR Developer</h3>
<br>
<a target="_blank" href="https://assetstore.unity.com/publishers/26911/?aid=1100l9ebS" class="btn">Visit my unity asset store</a>
</center>
</section>

<!-- We reopen main-content and container -->
<div class="container">
    <center>
        <a target="_blank" href="https://assetstore.unity.com/?on_sale=true&orderBy=1&aid=1100l9ebS">
            <img style="width: 100%; padding-bottom: 40px;" src="/assets/images/unity-spring-sale-display.jpg" />
        </a>
    </center>

    <div class="main-content">
    <!-- Featured
    ================================================== -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Products</span></h2>
        </div>
        <div class="row listfeaturedtag">
            {% assign sorted_products = site.products | sort: "order" %}
            {% for product in sorted_products %}
                {% include product-card.html %}
            {% endfor %}
        </div>
    </section>
</section>
