<div class="sidebar">

  {% if page.asset-store-widget %}
  <div class="sidebar-section">
    <h5><span>Buy from Asset Store</span></h5>
    <center>
      <iframe src="{{page.asset-store-widget}}" style="width:202px; height:260px; border:0px;"></iframe>
    </center>
  </div>
  {% endif %}

  <div class="sidebar-section">
    <h5><span>Newsletter</span></h5>
    {% include newsletter.html %}
  </div>

  <div class="sidebar-section">
    <h5><span>Useful Links</span></h5>
    <ul style="list-style-type: none;">
      <li><a target="_blank" href="https://assetstore.unity.com/publishers/26911/?aid=1100l9ebS">Visit Unity Asset Store</a></li>
      <li><a target="_blank" href="https://evereal.s3-us-west-1.amazonaws.com/ffmpeg/4.2/x86/ffmpeg.exe">Download FFmpeg (Windows 32-bit)</a></li>
      <li><a target="_blank" href="https://evereal.s3-us-west-1.amazonaws.com/ffmpeg/4.2/x86_64/ffmpeg.exe">Download FFmpeg (Windows 64-bit)</a></li>
      <li><a target="_blank" href="https://evereal.s3-us-west-1.amazonaws.com/ffmpeg/4.2/ffmpeg">Download FFmpeg (macOS 64-bit)</a></li>
    </ul>
  </div>
</div>