<div class="sidebar">
  {% if page.gumroad-store-url %}
  <div class="sidebar-section">
    <h5><span>Buy This Product</span></h5>
    <center>
      <a
        class="gumroad-button btn-buy"
        href="{{ page.gumroad-store-url }}"
        target="_blank"
        >Buy Now - ${{ page.price }}</a
      >
    </center>
  </div>
  {% endif %}
  {% if page.asset-store-widget %}
  <div class="sidebar-section">
    <h5><span>Buy from Asset Store</span></h5>
    <center>
      <iframe
        src="{{page.asset-store-widget}}"
        style="width:202px; height:260px; border:0px;"
      ></iframe>
    </center>
  </div>
  {% endif %}

  <div class="sidebar-section">
    <h5><span>Newsletter</span></h5>
    {% include newsletter.html %}
  </div>

  <div class="sidebar-section">
    <h5><span>Useful Links</span></h5>
    <ul style="list-style-type: none;">
      <li>
        <a
          target="_blank"
          href="https://assetstore.unity.com/publishers/26911/?aid=1100l9ebS"
          >Visit Unity Asset Store</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/evereal/ffmpeg-executable-for-unity/releases/download/4.2.2/FFmpegExecutable.unitypackage"
          >Download FFmpeg Unity Package</a
        >
      </li>
    </ul>
  </div>
</div>
