<div class="sidebar">

  {% if page.asset-store-widget %}
  <div class="sidebar-section">
    <h5><span>Buy from Asset Store</span></h5>
    <center>
      <iframe src="{{page.asset-store-widget}}" style="width:202px; height:260px; border:0px;"></iframe>
    </center>
  </div>
  {% endif %}

  <div class="sidebar-section">
    <h5><span>Newsletter</span></h5>
    {% include newsletter.html %}
  </div>

  <div class="sidebar-section">
    <h5><span>Useful Links</span></h5>
    <ul style="list-style-type: none;">
      <li><a target="_blank" href="https://assetstore.unity.com/publishers/26911">Visit Unity Asset Store</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/download/windows/ffmpeg.exe">Download FFmpeg (Windows)</a></li>
      <li><a target="_blank" href="{{ site.baseurl }}/download/ffmpeg/4.2/ffmpeg">Download FFmpeg (macOS)</a></li>
    </ul>
  </div>
</div>