---
layout: default
---

<!-- Begin Article -->

<div class="row">
  <!-- Product -->
  <div class="col-sm-8">
    <div class="mainheading">

      <!-- Product Title -->
      <h1 class="posttitle">{{ page.title }}</h1>
    </div>

    {% if site.promo_aff %}
    <a target="_blank" href="{{site.promo_aff}}">
      <img style="width: 100%;" src="{{site.promo_img}}" />
    </a>
    {% endif %}

    <!-- Product Content -->
    <div class="article-post">
      {{content}}
      <div class="clearfix"></div>
    </div>

    <!-- Begin Comments
    ================================================== -->
    <section>
      <div id="comments">
        {% include fb-comments.html %}
      </div>
    </section>
    <!--End Comments
    ================================================== -->

  </div>
  <!-- End Product -->

  <!-- Sidebar -->
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</div>

<!-- End Article -->
